.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 600px;
  margin: 0 auto;
  text-overflow: ellipsis;
  margin-top: 100px;
}

.container {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.icon {
  position: absolute; 
  width: 450px;
  height: auto;
  bottom: 100%; 
  transform: translateY(29%); 
  left: 20%;
}

.container h1 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  font-family: 'Arial', sans-serif;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 1);
  background-color: rgb(101, 101, 101);
  padding: 200px;
  border-radius: 10px;
  box-shadow: 7px 6px 11px 1px rgba(0, 0, 0, 1);
}
