.container {
  display: flex;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container article {
  width: 90%;
  height: 90%;
  padding: 21px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.article {
  box-shadow: 7px 6px 11px 1px rgba(0, 217, 255, .0) !important;
}

.container > section {
  width: 100%;
  height: auto;
  padding: 21px;
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.container p {
  text-indent: -50px;
  background-color: rgb(39, 39, 39);
  text-align-last: left;
	word-break: break-all;
  padding: 7px 0;
  margin-left: 15px;
}

.container header {
  display: flex;
  justify-content: center;
  height: auto;
  width: 80vw;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  background: rgb(59, 59, 59);
  padding: 21px 28px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  box-shadow: 7px 6px 11px 1px rgba(0, 216, 255, 0.80);
}

.container h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 7px;
}

.container h2 {
  text-align: center;
}

.container h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 15px;
}

.container span {
  width: 100%;
  display: flex;
	margin-top: 10px;
  align-items: center;
}

.container div {
  width: 100%;
}

.container span button, .container span a {
  margin: 0;
  width: 20%;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  background: none;
  margin-left: 7px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease;
}

.container span a {
  color: var(--primary);
  background-color: rgb(31, 10, 10);
  border: 1px solid var(--primary);
}

.container span button {
  color: white;
  background-color: red;
  border: 1px solid red;
}

.container span button:hover {
  background-color: darkred;
  border: 1px solid darkred;
}

.container span button:active, .container span a:active {
  transform: scale(0.95);
}

button, input[type="checkbox"] {
  cursor: pointer;
}

.container > section article {
  padding: 0;
  width: 80vw;
  min-height: 140px;
  border-radius: 5px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
}

.container > section h1 {
  font-size: 21px;
}

.container > section article p {
  text-indent: 0px;
  height: 80vh;
}

img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 12px;
}

.container input {
  width: 20px;
  margin-right: 15px;
  margin-left: 21px;
  padding: 0, 100px;
}


.container button {
  color: white;
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.container button:hover {
  color: white;
  background: black;
  transform: scale(1.05);
}

.container button:active {
  transform: scale(1);
}

.container button[type="submit"] {
  color: black;
  background: white;
}

.container button[type="submit"]:hover {
  color: black;
  background: rgb(78, 255, 50);
}

.container button[type="button"] {
  background: black;
}

.container button[type="button"]:hover {
  color: black;
  background: white;
}

.container button.deleteContent {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.container button.deleteContent:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.container button.deleteContent:active {
  transform: scale(1);
}

.container button {
  color: white;
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: var(--primary);
}

.container button {
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: white;
  padding: 7px 14px;
  width: fit-content;
}

.container textarea, select, button { 
  width: 25%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  font-family: canada-type-gibson, sans-serif;
}

/* .mailbox {
  position: relative;
  width: 100%;
  min-width: 70%;
  height: auto;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  bottom: 50px;
  right: 37%; 
  z-index: 1;
} */

/* .mailbox {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-left: 0;
  margin-right: auto;
  bottom: 50px;
  left: 0;
  transform: translateX(0%);
  z-index: 1;
} */

/* .mailbox {
  position: relative;
  width: calc(100vw - 50%);
  height: auto;
  left: 0;
  transform: translateX(-50%);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  bottom: 50px;
  z-index: 1;
} */

.mailbox {
  position: relative;
  width: 100%;
  height: auto;
  transform: translateX(-50%);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  bottom: 50px;
  left: 8%;
  z-index: 1;
}

.tree {
  position: relative;
  width: 100%;
  height: auto;
  transform: translateX(-50%);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100%;
  bottom: 600px;
  right: 45%;
  z-index: 1;
}

.tree2 {
  position: relative;
  width: 100%;
  height: auto;
  transform: translateX(-50%);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100%;
  bottom: 570px;
  left: 900px;
  z-index: 1;
}

@media (max-width: 1167px) {
  .tree {
    visibility: hidden;
  }
}

@media (max-width: 1242px) {
  .tree2 {
    left: 0;
    visibility: hidden;
    overflow: hidden;
  }
}

.mailbox:hover {
  cursor: pointer;
}

.title {
  margin-top: 100px !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 7vmin;
  top: -7vh;
  word-wrap: break-word;
}

.trashImage {
  position: relative;
  margin-top: -30%;
  top: -80%;
  left: -22%;
  z-index: 100;
  bottom: 0;
  width: 100%; 
  height: auto;
  cursor: pointer;
}

button, input[type="checkbox"] {
  position: relative;
  z-index: 101;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .trashImage {
    position: relative;
    width: 70%;
    top: -15%;
    left: 0%;
  }
}

@media screen and (max-height: 768px) {
  .trashImage {
    position: relative;
    width: 70%;
    top: -15%;
    left: -15%;
  }
}

.latestScore {
  position: relative;
  font-size: 700%;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
  text-shadow: 10px 10px 4px #000000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-35%, 90%);
  z-index: 400;
}
