.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: -40px;
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container > p, .content > p {
  margin: 8px;
  background-color: rgb(18, 18, 18);
  padding: 10px;
  border-radius: 9px;
}

.changePassword {
  margin-bottom: 20px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  right: 0;
}

.stationary-search-bar, h2, form, .profile-names, .profiles-name-search-list, a{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

a {
  margin: 10px;
}

@media (max-width: 800px) {
  .changePassword {
    display: none; 
  }
}