.container {
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 28px 21px;
  align-items: center;
  flex-direction: column;
}

.container input, textarea, select, button { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

.container form {
  background: rgb(59, 59, 59);
  padding: 21px 28px;
  text-align: center;
}

.container textarea {
  min-height: 50px;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}

.container button {
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: white;
  padding: 7px 14px;
  width: fit-content;
  display: block;
}

.container button.delete-question-button,
.container button.delete-choice-button {
  margin-left: 7px;
}

.container a {
  border: none;
  font-size: 14px;
  background: none;
  font-weight: 500;
  margin-top: 14px;
  text-align: center;
  color: rgb(200, 200, 200);
}

.container button:hover {
  color: white;
  background: black;
  transform: scale(1.05);
}

.container button.delete-question-button:hover,
.container button.delete-choice-button:hover {
  background: rgb(94, 0, 0);
}

.container button.add-question-button:hover,
.container button.add-choice-button:hover,
.container button.submit-button:hover {
  background: green;
}
