.container {
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 28px 21px;
  align-items: center;
  flex-direction: column;
}

.container input, textarea, select, button { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  font-family: canada-type-gibson, sans-serif;
  border: 2px solid;
  border-color: rgb(25, 25, 48);
  border-radius: 5px;
}

.container form {
  background: linear-gradient(45deg, rgb(53, 14, 169), rgb(128, 67, 144));
  padding: 21px 28px;
  text-align: center;
  border: 2px solid;
  border-color: rgb(25, 25, 48);
  border-radius: 5px;
}

.container textarea {
  min-height: 50px;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}

.container button {
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: white;
  padding: 7px 14px;
  width: fit-content;
  display: block;
}

.container button.delete-question-button,
.container button.delete-choice-button {
  margin-left: 7px;
}

.container button:hover {
  color: white;
  background: black;
  transform: scale(1.05);
}

.container button.delete-question-button:hover,
.container button.delete-choice-button:hover {
  background: rgb(94, 0, 0);
}

.container button.add-question-button:hover,
.container button.add-choice-button:hover,
.container button.submit-button:hover {
  background: rgb(0, 84, 0);
}

.container div.new-trivia-form {
  background: linear-gradient(45deg, rgb(47, 116, 254), rgb(109, 214, 183));
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 8px;
}