.container {
  height: 100%;
  display: flex;
  overflow: hidden;
  padding: 28px 21px;
  align-items: center;
  flex-direction: column;
}

.container input, textarea, select, button { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}

.container button {
  color: white;
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: var(--primary);
}

.container a {
  border: none;
  font-size: 14px;
  background: none;
  font-weight: 500;
  margin-top: 14px;
  text-align: center;
  color: rgb(200, 200, 200);
}

input:focus, select:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.container button {
  color: white;
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: var(--primary);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.container button:hover {
  background: red;
  transform: scale(1.05);
}

.container button:active {
  transform: scale(1);
}

.container button[type="submit"] {
  color: black;
  background: white;
}

.container button[type="submit"]:hover {
  color: black;
  background: rgb(78, 255, 50);
}

.container button[type="button"] {
  background: black;
}

.container button[type="button"]:hover {
  color: black;
  background: white;
}

.container button.delete-content {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.container button.delete-content:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.container button.delete-content:active {
  transform: scale(1);
}
