*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: #00d8ff
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

h4 {
  z-index: -5;
}

.checkbox {
  width: 20px;
  margin-right: 15px;
}

[id^="correct-answer"] {
  width: 20px;
  margin-right: 15px;
}

/* Set the width and color of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

/* Customize the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Hide the scrollbar when not scrolling */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Show the scrollbar on hover */
::-webkit-scrollbar:hover {
  width: 10px;
}

/* Remove the corner between the vertical and horizontal scrollbar */
::-webkit-scrollbar-corner {
  display: none;
}
